@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.timer{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-auto-rows: 252px;
    padding-top:152px;
    grid-column-gap: 32px;
    z-index: 3;
}

.timer-body{
    border: solid 3px white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 33% 8px 33%;
    user-select: none;
    backdrop-filter: blur(3px);
}

.timer-button-wrapper{
    display: flex;
    justify-content: center;
    column-gap: 4px;
    padding: 0;
    margin-top: 16px;

}

.timer-button{
    width: 33%;
    height: 96px;
}

.cat-rel{
    margin: 0;
    padding: 0;
    position: relative;
}

.cat-gif{
    position: absolute;
    content: "";
    top: -125px;
    left: -90px;
}

.timer-list{
    margin-right: 32px;
    max-width: 88%;
    overflow: hidden;
    height: 100%;
}

.timer-list-header{
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.timer-list-content{
    background-color: white;
    min-height: 66%;
    max-height: 66%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


.timer-list-add{
    width: 100%;
    padding: 8px 0 8px 0;
    border-radius: 0;
    border: none;
    background-color:#ffbd03;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.timer-list-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.timer-list-modal-container{
    height: fit-content;
    width: 33%;
    background-color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 3px;
}

.timer-list-modal-container-header{
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}

.timer-list-modal-container-input{
    width: 100%;
    margin-bottom: 8px;
    outline: none;
}

.timer-list-modal-container-button{
    padding: 0 8px;
    border-radius: 0;
    border: none;
}
.container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.anime{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 0;
    margin-top: 100px;
}

.anime-girl-container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
}
.anime-girl{
    max-height: 400px;
}

.anime-girl-phrase{
    visibility: hidden;
    position: absolute;
    content: "";
    padding-top: 20px;
    text-align: start;
    left: 60%;
    bottom: 65%;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("img/pngwing.com.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Open Sans', sans-serif;
    min-width: 252px;
    min-height: 128px;
}

.task-list-achievement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    column-gap: 16px;
}
.task-list-achievement button{
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.compliment{
    font-family: 'Open Sans', sans-serif;
    padding: 8px 32px;
    font-size: 32px;
    border: none;
    background-color: #a881af;
    border-radius: 3px;
    font-weight: 700;
    margin-left: 32px;
}

.compliment-modal{
    display: flex;
}

.compliment-modal-header{
    padding-bottom: 0;
}


@media (max-width: 1096px) {
    .timer-list-content{
        min-height: 72%;
        max-height: 72%;
    }
    .timer-list-header{
        font-size: 16px;
    }

 }
 @media (max-width: 907px) {
    .timer-list-content{
        min-height: 50%;
        max-height: 50%;
    }
    .timer-list-header{
        font-size: 16px;
    }
    .timer-body{
        font-size: 48px
    }
    .compliment{
        font-size: 24px;
    }
    .timer{
        grid-auto-rows: 212px;
    }
}

@media (max-height: 800px){
    html{
        overflow: scroll;
        height: 100%;
    }
}